params {
    help = false

    /* Reference Identifier and Base Directory Location ***************/
    reference = null
    refBase   = "ref_genomes"

    /* Sample Selection Configuration *********************************/
    fastqDir            = null
    samplesPattern      = "Illumina"
    samplesInclude      = null
    samplesIncludeRegex = null
    samplesExclude      = null
    samplesExcludeRegex = null

    // NOTE Skip undetermined is off by default, use
    // --samplesKeepUndeteremined flag to override
    _samplesSkipUndetermined   = true
    samplesProcessUndetermined = null

    /* Amplicon YAML **************************************************/
    ampliconsYaml = null

    /* Output Directory ***********************************************/
    outdir = "output"

    /* Read Count Control *********************************************/
    maxReads            = 20000
    minReadsPerAmplicon = 500
    maxReadsPerAmplicon = 10000

    _seed = 690345

    /* Merging Configuration ******************************************/
    mergeMode       = "merge"
    mergeMinOverlap = 4
    mergeMaxOverlap = 150

    /* Trimming Configuration *****************************************/
    trimBases = 6

    // NOTE Trimming is on by default, use --noTrimming to override
    _doTrimming = true
    noTrimming  = null

    /* CRISPResso Configuration ***************************************/
    crispressoWindow    = 6
    crispressoExtraArgs = null

    /* Summary Configuration ******************************************/
    frameshiftThreshold = 85
    hdrThreshold        = 85
    unmodifiedThreshold = 85
    wtFrameshiftMax     = 5

    /* Max Resource Options *******************************************/
    // Defaults only, expecting to be overwritten
    max_memory = '128.GB'
    max_cpus   = 16
    max_time   = '240.h'
}

includeConfig "conf/base.config"
includeConfig "conf/internal.config"
includeConfig "conf/help.config"
includeConfig "conf/ref.config"
includeConfig "conf/profiles.config"
includeConfig "conf/modules.config"

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
