params {
    help = false

    /* Reference Identifier and Base Directory Location ***************/
    reference = null
    refBase   = "ref_genomes"

    /* Sample Selection Configuration *********************************/
    fastqDir            = null
    samplesPattern      = "Illumina"
    samplesInclude      = null
    samplesIncludeRegex = null
    samplesExclude      = null
    samplesExcludeRegex = null

    // NOTE Skip undetermined is off by default, use
    // --samplesKeepUndeteremined flag to override
    _samplesSkipUndetermined   = true
    samplesProcessUndetermined = null

    /* Amplicon YAML **************************************************/
    ampliconsYaml = null

    /* Output Directory ***********************************************/
    outdir = "output"

    /* Read Count Control *********************************************/
    maxReads            = 20000
    minReadsPerAmplicon = 500
    maxReadsPerAmplicon = 10000

    _seed = 690345

    /* Merging Configuration ******************************************/
    mergeMode       = "merge"
    mergeMinOverlap = 4
    mergeMaxOverlap = 150

    /* Trimming Configuration *****************************************/
    trimBases = 6

    // NOTE Trimming is on by default, use --noTrimming to override
    _doTrimming = true
    noTrimming  = null

    /* CRISPResso Configuration ***************************************/
    crispressoWindow    = 6
    crispressoExtraArgs = null

    /* Summary Configuration ******************************************/
    frameshiftThreshold = 85
    hdrThreshold        = 85
    unmodifiedThreshold = 85
    wtFrameshiftMax     = 5
}

includeConfig "conf/internal.config"
includeConfig "conf/help.config"
includeConfig "conf/ref.config"
includeConfig "conf/profiles.config"
includeConfig "conf/modules.config"
