params {
    help = false

    /* Reference Genome Identifier and Base Directory Location ********/
    genome     = null
    genome_dir = "ref_genomes"

    /* Sample Selection Configuration *********************************/
    fastq_dir             = null
    samples_pattern       = "Illumina"
    samples_include       = null
    samples_include_regex = null
    samples_exclude       = null
    samples_exclude_regex = null

    // NOTE Skip undetermined is off by default, use
    // --samples_process_undetermined flag to override
    _samples_skip_undetermined   = true
    samples_process_undetermined = null

    /* Amplicon YAML **************************************************/
    amplicons = null

    /* Output Directory ***********************************************/
    outdir = "output"

    /* Read Count Control *********************************************/
    max_reads              = 20000
    min_reads_per_amplicon = 500
    max_reads_per_amplicon = 10000

    /* Merging Configuration ******************************************/
    merge_mode        = "merge"
    merge_min_overlap = 4
    merge_max_overlap = 150

    /* Trimming Configuration *****************************************/
    trim_bases = 6

    // NOTE Trimming is on by default, use --no_trimming to override
    _do_trimming = true
    no_trimming  = null

    /* CRISPResso Configuration ***************************************/
    crispresso_window     = 6
    crispresso_extra_args = null

    /* Summary Configuration ******************************************/
    frameshift_threshold = 85
    hdr_threshold        = 85
    unmodified_threshold = 85
    wt_frameshift_max    = 5

    /* Max Resource Options *******************************************/
    // Defaults only, expecting to be overwritten
    max_memory = '128.GB'
    max_cpus   = 16
    max_time   = '240.h'
}

manifest {
    name            = 'pfizer-opensource/nf-gene-editing-ngs'
    author          = """Christopher Harrison, Jason Arroyo, Simeon Carstens, Daniel Katzel"""
    homePage        = 'https://github.com/pfizer-opensource/nf-gene-editing-ngs'
    description     = """GENA: Gene editing NGS analysis pipeline"""
    defaultBranch   = 'main'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.2'  // The "!" means halt on earlier versions
    version         = '1.0.0'
    doi             = ''
}

includeConfig "conf/base.config"
includeConfig "conf/internal.config"
includeConfig "conf/help.config"
includeConfig "conf/ref.config"
includeConfig "conf/modules.config"
includeConfig "conf/profiles.config"

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
