/* Aligner Profiles
 *
 * Each aligner profile should have its own entity, corresponding to the
 * profile name. Each profile should have the following properties:
 *
 *   _help                  String  Help text for profile
 *   bowtie2_read_args      String  Additional arguments to pass to Bowtie2 (for read alignment)
 *   bowtie2_amplicon_args  String  Additional arguments to pass to Bowtie2 (for amplicon alignment)
 *
 * Currently, only properties for Bowtie2 are required. If/when
 * additional aligners are supported, a change to the structure may be
 * warranted.
 */

params {
    _aligner {
        // Standard
        "standard" {
            _help = "Standard aligner invocation"

            bowtie2_read_args     = params._bowtie2_default
            bowtie2_amplicon_args = params._bowtie2_default
        }

        // Custom
        "custom" {
            _help = "Custom aligner invocation, via --aligner_custom_read_args and/or --aligner_custom_amplicon_args"

            bowtie2_read_args     = params.aligner_custom_read_args ?: params._bowtie2_default
            bowtie2_amplicon_args = params.aligner_custom_amplicon_args ?: params._bowtie2_default
        }
    }
}
