/* Help/Usage Text
 *
 * For each parameter that you wish to expose with the --help option,
 * provide a respective entry under `_help`
 */

params {
    _help {
        // Reference
        reference                  = "Reference ID"
        refBase                    = "Reference base directory"

        // Samples
        fastqDir                   = "Path to sample FASTQs"
        samplesPattern             = "Sample filename pattern"
        samplesInclude             = "Included sample filenames (exact match, comma-separated)"
        samplesIncludeRegex        = "Included sample filenames (regular expression)"
        samplesExclude             = "Excluded sample filenames (exact match, comma-separated)"
        samplesExcludeRegex        = "Excluded sample filenames (regular expression)"
        samplesProcessUndetermined = "Process undetermined samples (leave unset to skip undetermined samples)"

        // Amplicons
        ampliconsYaml              = "Path to amplicons YAML"

        // Output
        outdir                     = "Output directory"

        // Read Count
        maxReads                   = "Read count threshold to trigger downsampling (unset to disable)"
        minReadsPerAmplicon        = "Minimum amplicon read overlap count"
        maxReadsPerAmplicon        = "Maximum amplicon read overlap count"

        // Merging
        mergeMode                  = "Paired sample merging strategy"
        mergeMinOverlap            = "Minimum read overlap count"
        mergeMaxOverlap            = "Maximum read overlap count"

        // Trimming
        noTrimming                 = "Do not perform trimming (unset to trim)"
        trimBases                  = "Number of bases to trim"

        // CRISPResso
        crispressoWindow           = "Window (bp) around sgRNA"
        crispressoExtraArgs        = "Additional arguments passed to CRISPResso"

        // Summary
        frameshiftThreshold        = "Percentage of frameshift reads necessary to call a knockout genotype"
        hdrThreshold               = "Percentage of HDR reads necessary to call an HDR genotype"
        unmodifiedThreshold        = "Percentage of unmodified reads necessary to call a wildtype genotype"
        wtFrameshiftMax            = "Maximum number of frameshift reads that can be present and still call a wildtype genotype"
    }
}
