/* Help/Usage Text
 *
 * For each parameter that you wish to expose with the --help option,
 * provide a respective entry under `_help`
 */

params {
    _help {
        // Reference
        genome                       = "Reference genome ID"
        genome_dir                   = "Reference genome base directory"

        // Samples
        fastq_dir                    = "Path to sample FASTQs"
        samples_pattern              = "Sample filename pattern"
        samples_include              = "Included sample filenames (exact match, comma-separated)"
        samples_include_regex        = "Included sample filenames (regular expression)"
        samples_exclude              = "Excluded sample filenames (exact match, comma-separated)"
        samples_exclude_regex        = "Excluded sample filenames (regular expression)"
        samples_process_undetermined = "Process undetermined samples (leave unset to skip undetermined samples)"

        // Amplicons
        amplicons                    = "Path to amplicons YAML"

        // Output
        outdir                       = "Output directory"

        // Read Count
        max_reads                    = "Read count threshold to trigger downsampling (unset to disable)"
        min_reads_per_amplicon       = "Minimum amplicon read overlap count"
        max_reads_per_amplicon       = "Maximum amplicon read overlap count"

        // Merging
        merge_mode                   = "Paired sample merging strategy"
        merge_min_overlap            = "Minimum read overlap count"
        merge_max_overlap            = "Maximum read overlap count"

        // Trimming
        no_trimming                  = "Do not perform trimming (unset to trim)"
        trim_bases                   = "Number of bases to trim"

        // CRISPResso
        crispresso_window            = "Window (bp) around sgRNA"
        crispresso_extra_args        = "Additional arguments passed to CRISPResso"

        // Summary
        frameshift_threshold         = "Percentage of frameshift reads necessary to call a knockout genotype"
        hdr_threshold                = "Percentage of HDR reads necessary to call an HDR genotype"
        unmodified_threshold         = "Percentage of unmodified reads necessary to call a wildtype genotype"
        wt_frameshift_max            = "Maximum number of frameshift reads that can be present and still call a wildtype genotype"
    }
}
