// Internal configuration / constants

params {
    _internal {
        // Delimiter character used for list serialisation
        delimiter = "|"

        // Forbidden characters in sample and amplicon names
        forbidden = [ params._internal.delimiter, "/" ]

        // Sentinel value for optional inputs
        noFile = "_NO_FILE"
    }
}
