/* Workflow and Process Configuration
 *
 * Sets appropriate process options for specific tools
 */

// Default Docker image settings
_imageName           = 'nf-gene-editing-ngs:latest'
_artifactoryRegistry = 'artifacts.example.com/functional-genomics'

process {
    /* Container image for all processes
     *
     * NOTE: The default image is pulled from Artifactory; override with the
     * GENA_IMAGE environment variable to use a local docker image, .sif, etc
     */
    container = System.getenv("GENA_IMAGE") ?: "${_artifactoryRegistry}/${_imageName}"

    ext {
        /* Common Task Configuration
         *
         * NOTE These are largely passed through from the params scope
         * for the sake of caching. Not all are present, because some
         * parameters are constructed at runtime. See issues #85 and #86.
         */

        maxReads            = params.max_reads
        maxReadsPerAmplicon = params.max_reads_per_amplicon

        summary {
            frameshiftThreshold = params.frameshift_threshold
            hdrThreshold        = params.hdr_threshold
            unmodifiedThreshold = params.unmodified_threshold
            wtFrameshiftMax     = params.wt_frameshift_max
        }
    }

    /* Tooling Configuration
     *
     * Commands, configuration (where appropriate) and extra arguments
     * for each tool used in the pipeline. Each tool has its own ext
     * entity, each with at least the following properties:
     *
     *   cmd        String[]  Invocation command
     *   extraArgs  String    Additional arguments that are always applied
     *
     * NOTE The additional arguments are provided as a SCALAR string,
     * rather than the expected list of strings. This is because
     * Nextflow doesn't support list-like command line arguments. As
     * such, we need to tokenise this downstream.
     */

    withLabel: usesBowtie2 {
        ext {
            bowtie2 {
                cmd       = ["bowtie2"]
                extraArgs = ""
            }
        }
    }

    withLabel: usesCRISPResso {
        ext {
            crispresso {
                cmd       = ["CRISPResso"]
                extraArgs = "" + (params.crispresso_extra_args ?: "")

                // CRISPResso defaults
                window = params.crispresso_window
            }
        }
    }

    withLabel: usesFLASH {
        ext {
            flash {
                cmd       = ["flash"]
                extraArgs = ""

                // FLASH defaults
                minOverlap = params.merge_min_overlap
                maxOverlap = params.merge_max_overlap
            }
        }
    }

    withLabel: usesSamtools {
        ext {
            samtools {
                cmd       = ["samtools"]
                extraArgs = ""
            }
        }
    }

    withLabel: usesTrimmomatic {
        ext {
            trimmomatic {
                cmd       = ["trimmomatic"]
                extraArgs = ""

                // Trimmomatic defaults
                adapterPath = "/opt/trimmomatic/adapters/NexteraPE-PE.fa"
                headcrop    = params.trim_bases
            }
        }
    }
}
