// Default Docker image settings
_imageName           = 'nf-gene-editing-ngs:latest'
_artifactoryRegistry = 'artifacts.example.com/functional-genomics'

profiles {
    /* Executors ******************************************************/

    // Local execution
    // NOTE: This is a bit redundant, as "local" is the default
    local {
        process.executor  = "local"
    }

    // SLURM execution
    hpc {
        process.executor  = "slurm"

        executor {
            name = "slurm"
        }

    }

    /* Containerisation ***********************************************/

    // Use Docker
    docker {
        process.container = System.getenv("GENA_IMAGE") ?: _imageName

        docker {
            enabled      = true
            fixOwnership = true
        }

        // Ensure Docker and Singularity can't be used simultaneously
        singularity.enabled = false
    }

    // Use Singularity
    singularity {
        // NOTE: The default Singularity image is the Docker image
        // pulled from Artifactory; override to use a local .sif, etc.
        process.container = System.getenv("GENA_IMAGE") ?: "${_artifactoryRegistry}/${_imageName}"

        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
            pullImage   = true
            runOptions  = "--no-home"
        }

        // Ensure Docker and Singularity can't be used simultaneously
        docker.enabled = false
    }

    /* Testing ***********************************************/

    // For testing with nf-test
    nf_test {
        // Cache images 2 levels above the working directory for each test, which should
        // be the `.nf-test` directory (each test is run in `.nf-test/tests/[test hash]/`)
        singularity.cacheDir = "../../singularity"
    }
}
