/* Reference Genome Configuration
 *
 * Each reference genome should have its own entity, with subentities
 * for each reference type (currently only bowtie2). This subentity
 * must have the following properties:
 *
 *   dir      String        Local directory
 *   pattern  String        Reference file prefix
 *   _url     String (URL)  Download source
 */

params {
    _ref {
        // Human (hg19)
        "hg19" {
            bowtie2 {
                dir     = "${params.refBase}/hg19"
                pattern = "hg19"
                _url    = "https://genome-idx.s3.amazonaws.com/bt/hg19.zip"
            }
        }

        // Mouse (mm10)
        "mm10" {
            bowtie2 {
                dir     = "${params.refBase}/mm10"
                pattern = "mm10"
                _url    = "https://genome-idx.s3.amazonaws.com/bt/mm10.zip"
            }
        }

        // Rat (rn4)
        "rn4" {
            bowtie2 {
                dir     = "${params.refBase}/rn4"
                pattern = "rn4"
                _url    = "https://genome-idx.s3.amazonaws.com/bt/rn4.zip"
            }
        }
    }
}
