/* Reference Genome Configuration
 *
 * Each reference genome should have its own entity, with subentities
 * for each reference type (currently only bowtie2). This subentity
 * must have the following properties:
 *
 *   dir      String        Local directory
 *   prefix   String        Reference file prefix
 *   _url     String (URL)  Download source
 */

params {
    _ref {
        // Human (hg19)
        "hg19" {
            bowtie2 {
                dir    = "${params.genome_dir}/hg19"
                prefix = "hg19"
                _url   = "https://genome-idx.s3.amazonaws.com/bt/hg19.zip"
            }
        }

        // Human (hg38)
        "hg38" {
            bowtie2 {
                dir    = "${params.genome_dir}/hg38"
                prefix = "GRCh38_noalt_as"
                _url   = "https://genome-idx.s3.amazonaws.com/bt/GRCh38_noalt_as.zip"
            }
        }

        // Mouse (mm10)
        "mm10" {
            bowtie2 {
                dir    = "${params.genome_dir}/mm10"
                prefix = "mm10"
                _url   = "https://genome-idx.s3.amazonaws.com/bt/mm10.zip"
            }
        }

        // Rat (rn6)
        "rn6" {
            bowtie2 {
                dir    = "${params.genome_dir}/rn6"
                prefix = "Rnor_6.0"
                _url   = "https://genome-idx.s3.amazonaws.com/bt/Rnor_6.0.zip"
            }
        }
    }
}
